*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
a:hover,a:focus,a:active{
	text-decoration: none;
	color: black;
}
.clearfix{
	padding: 0;
}
.blured-bg{
	height: 100vh;
	background-image: url(img/city-cars-traffic-lights.jpeg);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}
.order_form{
	position: absolute;
	display: block;
	max-width:350px;
	width: 100%;
	top: 130px;
	right: 30px;

}
.order_form>form{
	text-align: center;
	padding: 25px;
	-webkit-border-radius: 5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background-color: rgba(255,255,255,0.7);
	transition: all .2s ease-in-out;
}
.form-header{
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 15px;
	line-height: 1.16;
}
.order_form>form>p{
	line-height: 1.16;
	font-size: 14px;
}
.order_form>form>input::placeholder{
	color: #c6c6c6;
}
.order_form>form>input{
	display: block;
	border:1px solid #c6c6c6;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	height: 35px;
	padding: 3px 10px;
	margin: 10px auto;
	width: 100%;
}
.btn__submit,.btn__interface{
	border:2px solid black;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	background-color: transparent;
	font-size: 18px;
	padding: 5px 15px;
	margin: 15px auto;
	outline: none;
	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	-ms-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
}
.btn__submit:hover,.btn__interface:hover{
	color:white;
	background: #000000;
}
.form_wrap{
	position: relative;
}
.form_wrap>form{
	position: absolute;
	max-width: 400px;
	height: 270px;
	padding: 25px 35px;
	margin: auto;
	background-color: rgba(219,219,219,0.7);
	border-radius: 15px;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	-webkit-transform: translate(0,100%);
	-o-transform: translate(0,100%);
	-moz-transform: translate(0,100%);
	transform: translate(0,100%);
	transition: all .2s ease-in-out;
}
.form_wrap>form:hover{
	background-color: rgba(219,219,219,0.9);
}
.order_form>form:hover{
	background-color: rgba(255,255,255,0.9);
}
.form_wrap>form:hover .form_wrap>form>button,.form_wrap>form>input{
	opacity: 0.9;
}
.form_wrap>form>input{
	display: block;
	height: 40px;
	width: 100%;
	border:none;
	background-color: #3c4251;
	opacity: 0.7;
	color: white;
	text-align: center;
	outline: none;
	border-radius: 2px;
	margin-bottom: 15px;
}
::placeholder{
	color: white;
}
.form_wrap>form>button{
	display: block;
	margin: auto;
	max-width: 230px;
	height: 35px;
	border: none;
	background-color: #ccc9c6;
	opacity: 0.7;
	text-transform: uppercase;
	font-weight: bold;
	box-shadow: 0px 0px 1px 0px;
	width: 100%;
	text-align: center;
	transition: all .2s ease-in-out;
}
#btn_reg{
	position: absolute;
	bottom: -47px;
	left: 0;
	right: 0;
	height: 45px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
#btn_reg:hover{
	opacity: 0.9;
}
#form_register{
	height: 430px;
	    -webkit-transform: translate(0,70%);
    -o-transform: translate(0,70%);
    -moz-transform: translate(0,70%);
    transform: translate(0,70%);
}
.form__header{
	text-transform: uppercase;
	font-size: 21px;
	text-align: center;
	margin-bottom: 30px;
}
.profile-wrap{
	margin-top: 30px;
}
.profile-wrap>.info{
	background-color: #fff;
	opacity: 0.9;
	margin:50px 0;
	padding: 25px;
	border-radius: 5px;
}
.nav-pills{
	display: table;
	width: 100%;
	background: rgba(255,255,255,0.9);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
	margin-top: 30px;
}
.nav-pills>li>a{
	border-radius: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 100%;
}
.nav-pills>li.active{
	opacity: 1;
}
.nav-pills>li{
	opacity: 0.9;
	display: table-cell;
	float: none;
}
.tab-content{
	background: rgba(255,255,255,0.9);
	padding: 1px 15px;
	margin-top: 15px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}