*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
a:hover,a:focus,a:active{
	text-decoration: none;
	color: black;
}
.clearfix{
	padding: 0;
}
.blured-bg{
	height: 100vh;
	background-image: url(img/city-cars-traffic-lights.jpeg);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}
.order_form{
	position: absolute;
	display: block;
	max-width:350px;
	width: 100%;
	top: 65px;
	right: 30px;

}
.order_form>form{
	text-align: center;
	padding: 25px;
	-webkit-border-radius: 5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background-color: rgba(255,255,255,0.7);
	transition: all .2s ease-in-out;
}
.order__results{
	margin-top: 10px;
	text-align: center;
	padding: 25px;
	-webkit-border-radius: 5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background-color: rgba(255,255,255,0.7);
}
.order__results>p:not(:last-child)>span{
	font-weight: bold;
	font-size:18px;
}
.order__results>p:last-child>span{
	font-size: 22px;
	font-weight: bold;
}
.form-header{
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 15px;
	line-height: 1.16;
}
.order_form>form>p{
	line-height: 1.16;
	font-size: 14px;
}
.order_form>form>input::placeholder{
	color: #c6c6c6;
}
.order_form>form>input{
	display: block;
	border:1px solid #c6c6c6;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	height: 35px;
	padding: 3px 10px;
	margin: 10px auto;
	width: 100%;
	outline-color: #0f0f0f;
}
.btn__submit,.btn__interface{
	border:2px solid black;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	background-color: transparent;
	font-size: 18px;
	padding: 5px 15px;
	margin: 15px auto;
	outline: none;
	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	-ms-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
}
.btn__submit:hover,.btn__interface:hover{
	color:white;
	background: #000000;
}
.order__results{
	display: none;

}
.form_wrap{
	position: relative;
	max-width: 400px;
	height: 270px;
	margin: 130px auto;
}
.form_wrap>form{
	position: relative;
	max-width: 400px;
	padding: 25px 35px;
	margin: auto;
	background-color: rgba(219,219,219,0.7);
	border-radius: 15px;
	transition: all .2s ease-in-out;
}
.form_wrap>form:hover{
	background-color: rgba(219,219,219,0.9);
}
.order_form>form:hover{
	background-color: rgba(255,255,255,0.9);
}
.order__results:hover{
	background-color: rgba(255,255,255,1);
}
.form_wrap>form:hover .form_wrap>form>button,.form_wrap>form>input{
	opacity: 0.9;
}
.form_wrap>form>input{
	display: block;
	height: 40px;
	width: 100%;
	border:none;
	background-color: #3c4251;
	opacity: 0.7;
	color: white;
	text-align: center;
	outline: none;
	border-radius: 2px;
	margin-bottom: 15px;
}
::placeholder{
	color: white;
}
.form_wrap>form>button{
	display: block;
	margin: auto;
	max-width: 230px;
	height: 35px;
	border: none;
	background-color: #ccc9c6;
	opacity: 0.7;
	text-transform: uppercase;
	font-weight: bold;
	box-shadow: 0px 0px 1px 0px;
	width: 100%;
	text-align: center;
	transition: all .2s ease-in-out;
}
#btn_reg{
	position: absolute;
	bottom: -35px;
	max-width: 200px;
	width: 100%;
	left: 0;
	right: 0;
	margin: auto;
	height: 45px;
	border: none;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	opacity: 0.7;
	transition: opacity .2s ease-in-out;
	outline:none;
}
#btn_reg:hover{
	opacity: 0.9;
}

.form__header{
	text-transform: uppercase;
	font-size: 21px;
	text-align: center;
	margin-bottom: 30px;
}
.profile-wrap{
	margin-top: 30px;
}
.profile-wrap>.info{
	background-color: #fff;
	opacity: 0.9;
	margin:50px 0;
	padding: 25px;
	border-radius: 5px;
}
.profile-wrap>.info>.name{
	font-size: 18px;
	font-weight: bold;

}
.nav-pills{
	display: table;
	width: 100%;
	background: rgba(255,255,255,0.9);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
	margin-top: 30px;
}
.nav-pills>li>a{
	border-radius: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 100%;
}
.nav-pills>li.active{
	opacity: 1;
}
.nav-pills>li{
	opacity: 0.9;
	display: table-cell;
	float: none;
}
.tab-content{
	background: rgba(255,255,255,0.9);
	padding: 1px 15px;
	margin-top: 15px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	text-align: center;
	max-height: 450px;
	overflow: auto;
}

.alert {
	display: none;
	position: absolute;
	top:65px;
	left: 0;
	right: 0;
	max-width: 600px;
	margin:auto;
	padding: 20px;
	background-color: #f44336;
	color: white;
	opacity: 1;
	transition: opacity 0.6s;
}
.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: black;
}
.dropdown-toggle{
	cursor: pointer;
	transition: all .5s ease-in-out;
}
.dropdown{
	width: 155px;
	margin: auto;
}

.table-responsive {
	min-height: .01%;
	overflow-x: visible;
}
.table>thead:first-child>tr:first-child>th {
	text-align: center;
}
.report>img{
	display: block;
	margin: 10px auto;
}

.plans {
	padding: 50px 0
}
.plans .table{
	padding: 50px;
	margin: 0;
}

.heading {
	color: #000000;
	font-weight: bold;
	font-size: 60px;
	text-align: center
}

.plans .table {
	padding: 50px;
	margin: 0
}

.plans .table > div.line {
	background: #F6F6F6;
	padding: 0 70px 30px
}

.plans .table > div.line hr {
	border-bottom: 1px solid #D5D5D5;
	margin: 30px 0 0
}

.plans .table > div.line .name {
	color: #999999;
	font-size: 40px;
	font-weight: bold;
	line-height: 40px
}

.plans .table > div.line .value {
	color: #000000;
	font-weight: bold;
	font-size: 40px;
	line-height: 40px
}

.plans .table > div.line .value .preloader {
	display: inline-block;
	height: 40px;
	margin: 0 10px
}

.plans .table > div.line .value .currency.secondary {
	font-size: 0.6em;
	display: block;
	color: #999999
}

.plans .table > div.line .meta {
	color: #999999;
	font-size: 20px;
	line-height: 22px
}

.plans .table > div.line .meta .preloader {
	display: inline-block;
	height: 20px;
	margin: 0 10px
}

.plans .table > div.line.first {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding-top: 50px
}

.plans .table > div.line.last {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding-bottom: 50px
}

.plans .table > div.line.inverse {
	background: transparent;
	padding-top: 50px
}
.about-us article h3{
	font-size: 36px;
	line-height: 50px;
	margin-top: 0;
	margin-bottom: 40px
}
.about-us article p{
	font-size: 22px;
	line-height: 36px;
	margin-bottom: 40px
}

