/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	#first{
		padding: 30px 0;
	}
	.plans {
		padding: 25px 0
	}
	.heading{
		font-size: 50px
	}
	.plans .table > div.line .name {
		font-size: 30px
	}
	.plans .table > div.line .value {
		font-size: 30px
	}
	.plans .table > div.line .value .currency.secondary {
		line-height: 100%;
		padding-bottom: 10px
	}
	.plans .table > div.line .meta {
		font-size: 18px
	}
	.about-us article h3 {
		font-size: 24px;
		line-height: 40px;
	}
	.about-us article p{
		font-size: 16px;
		line-height: 20px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.plans .table {
		padding: 20px
	}
	.plans .table > div.line {
		padding: 0 30px 30px
	}
	.plans .table > div.line .name {
		margin-bottom: 20px
	}
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}